@model Cooperchip.MedicalManagement.Domain.Entidade.MensagemClearance

@{
    ViewBag.Title = "Parâmetros para Taxa de Clearance - Edição";
}


@{ Layout = null;}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Edit", "MensagemClearance", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">MedicalManagement-Sys - Parâmetros para Taxa de Clearance - Edição</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">


                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.MensagemClearanceId)


                        <div class="modal-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.GenericoId, "Genérico Id", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("GenericoId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.GenericoId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Substancia, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(model => model.Substancia, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Substancia, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParametroInicial, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ParametroInicial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ParametroInicial, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParametroFinal, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ParametroFinal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ParametroFinal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mensagem, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Mensagem, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
