<!--/ Quero listar os cadastros bases que dificilmente será listado mais de uma vez apenas aqui -->
<div class="tab-pane fade" id="activity">

    <h4><span>Cadastro Base</span></h4>

    <ul class="timeline timeline-icons timeline-sm">


        <li>
            <p>
                @Html.ActionLink("Cadastrar Tipo de Precaução", "Index", "TipoDePrecaucao")
                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
            </p>
        </li>
        <li>
            <p>
                @Html.ActionLink("Base de Conhecimento", "Index", "BaseDeConhecimento")
                <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
            </p>
        </li>

        <li>
            <p>
                @Html.ActionLink("Cadastrar Tipo de Telefone", "Index", "TipoTelefone")
                <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
            </p>
        </li>

        <li>
            <p>
                @Html.ActionLink("Cadastrar Bairro", "Bairro", "Home")
                <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
            </p>
        </li>
        <li>
            <p>
                @Html.ActionLink("Cadastrar Tipo de Telefone", "Index", "TipoTelefone")
                <span class="timeline-icon"><i class="l-basic-photo"></i></span>
            </p>
        </li>




        <li>
            <p>
                @Html.ActionLink("Cadastro de Tipo Dieta", "Dieta", "Home")
                <span class="timeline-icon"><i class="fa fa-undo color-red"></i></span>
            </p>
        </li>


    </ul>

</div>

<!--/ FIM Quero listar os cadastros bases que dificilmente será listado mais de uma vez apenas aqui -->