@model Cooperchip.MedicalManagement.Domain.Entidade.Acesso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Claim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Claim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcessoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcessoTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AcessoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
