
@model Cooperchip.Common.Identity.Model.LoginViewModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "MedicalManagement-Sys - Login de Usuário";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login | MedicalManagement-Sys - Management</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">

    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="~/tpl/css/icons.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="~/tpl/css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="~/tpl/css/plugins.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="~/tpl/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="~/tpl/css/custom.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/tpl/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/tpl/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/tpl/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/tpl/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="~/tpl/img/ico/favicon.ico" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body class="login-page">

        <!-- Start login container -->
        <div class="container login-container">
            <div class="login-panel panel panel-default plain animated bounceIn">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <img id="logo" src="~/tpl/img/logo-dark.png" alt="Dynamic logo">
                    </h4>
                </div>

                @{
                    if (ViewBag.Success != null)
                    {
                        <div class="alert alert-info">
                            <h4>@ViewBag.Success</h4>
                        </div>
                    }
                }

                <div class="panel-body">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use uma conta local para se logar.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>



                                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", placeholder = "Digite seu Login" })
                                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })


                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Digite sua senha" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                </div>
                                <span class="help-block text-right">@Html.ActionLink("Esqueceu sua senha ?", "ForgotPassword")</span>
                            </div>
                        </div>

                        <div class="form-group mb0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <div class="checkbox-custom">

                                    @*<input type="checkbox" name="remember" id="remember" value="option">*@
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-danger" })
                                    <label for="remember">Lembrar Senha ?</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
                                <button class="btn btn-default pull-right" type="submit">Login</button>
                            </div>
                        </div>
                    }
                    <div class="seperator">
                        <hr>
                    </div>


                    <div class="panel-footer gray-lighter-bg bt">
                        <h4 class="text-center">
                            <strong>Ainda não é registrado ?</strong>
                        </h4>
                        <p class="text-center">
                            <a href="/Mural/Credencial" class="btn btn-primary">Contate o Administrador</a>
                        </p>
                    </div>


                </div>


            </div>
            <!-- End .panel -->


        </div>
        <!-- End login container -->
        @*<div class="col-md-12 col-lg-12 center row">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new Cooperchip.MedicalManagement.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@




    <div class="container">
        <div class="footer">
            <p class="text-center">&copy;2014 / @DateTime.Now.Year - Copyright MedicalManagement-Sys. Todos os direitos reservados!</p>
        </div>
    </div>







    <!-- Javascripts -->
    <!-- Important javascript libs(put in all pages) -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="~/tpl/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
    </script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        window.jQuery || document.write('<script src="~/tpl/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
    </script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="~/tpl/js/libs/excanvas.min.js"></script>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="~/tpl/js/libs/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap plugins -->
    <script src="~/tpl/js/bootstrap/bootstrap.js"></script>
    <!-- Form plugins -->
    <script src="~/tpl/plugins/forms/validation/jquery.validate.js"></script>
    <script src="~/tpl/plugins/forms/validation/additional-methods.min.js"></script>
    <!-- Init plugins olny for this page -->
    <script src="~/tpl/js/pages/login.js"></script>
</body>
</html>


