@model Cooperchip.MedicalManagement.Domain.Entidade.Endereco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Endereco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bairro.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NumAtendimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NumAtendimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnderecoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
